@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    transition: 0.5s;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/background2.png), linear-gradient(0deg, #161616, #161616);
    height: auto;
    min-height: 100vh;}

/* COLORS */
$main: #F47920;
$white: #FFFFFF;
$black: #000000;
$gray: #FAFAFA;
$gray2: #4F4F4F;
$gray3: #828282;
$gray-times: #BFBFBF;

/* NAVBAR */
.bg-black{
    background-color: $black;
}
.navbar{
    height: 92px;
    z-index: 10;
}
.navbar-collapse{
    flex-grow: 0;
}
.collapsing{
    padding: 10px;
}
.collapse{
    padding: 10px;
}

.nav-link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    
    /* identical to box height, or 21px */
    letter-spacing: 0.02em;
    &:hover{
        color: $main;
    }
}
.active{
    color: $main;
    &:hover{
        color: $main;
    }
}
.btn-contact{
    color: $main;
    padding: 8px 24px;
    border: 2px solid $main;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    
    &:hover{
        background-color: $main;
        color: $white;
    }
}
.toggler{
    color: $white;
    &:hover{
        color: $main;
    }
}

.hide{
    display: none;
}


/* MAIN */
.title-con{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.title{
    width: 600px;
    color: $gray;
    font-weight: 800;
    font-size: 67.34px;
    line-height: 110%;
    color: $gray;
}
.sub-title{
    color: $gray;
    width: 400px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 32px 0px;
}
.btn-title{
    color: $gray;
    text-transform: uppercase;
    border: 1px solid $gray;
    border-radius: 0;
    padding: 18px 32px;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}
.flood-right{
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    box-shadow: inset 0 0 0 0 #fff;
    &:hover {
        color: $gray2;
        box-shadow: inset 650px 0 0 0 #fff;
    }
}

.box-con{
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}
.top-sub-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 10px 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $gray3;
}
.box-con-in{
    width: 800px;
}
.box{
    float: left;
    padding: 32px;
    width: 348px;
    height: 348px;
    background: rgba(37, 37, 37, 0.6);
    letter-spacing: 0.02em;
    margin: 5px;
    position: relative;
}
.box-title{
    font-style: normal;
    font-weight: bold;
    font-size: 21.33px;
    line-height: 130%;
    width: 180px;
    color: $gray;
}
.box-subtitle{
    margin: 16px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    width: 256px;
    color: $gray;
}

.box-popup{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    cursor: pointer;
    color: $gray2;
    position: absolute;                 
    bottom: 32px;            
    left: 32px;     
}


/* POPUP */
.popup{
    position: absolute;
    transform: translate(0%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 12;
    top: 550px;
    padding: 48px;
    background-color: $white;
    height: auto;
    width: 471px;
}
.popup-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    padding: 0 20px 0 0;
    font-size: 21.33px;
    line-height: 130%;
    letter-spacing: 0.02em;
    width: 90%;
}
.popup-times{
    color: $gray-times;
    padding: 3px;
    font-size: 21.33px;
    cursor: pointer;
}
.popup-body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin: 32px 0 0 0;
}
.overlay{
    position: fixed;
    z-index: 11;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-show{
    opacity: 1;
    pointer-events: all;
}
.pop-show{
    transform: translate(0%, -50%) scale(1);
}

  

/* MEDIA */
@media only screen and (max-width: 1440px) {
    .box{
        padding: 24px;
        width: 280px;
        height: 280px;
    }
    .title{
        font-size: 60px;
    }
    .box-con-in{
        width: 600px;
    }
    .box-title{
        font-size: 18px;
        width: 160px;
    }
    .box-subtitle{
        font-size: 14px;
        padding: 0 20px 0 0;
    }
}
@media only screen and (max-width: 1320px) {
    .title{
        font-size: 55px;
    }
}
@media only screen and (max-width: 1200px) {
    .title{
        font-size: 50px;
    }
    .sub-title{
        margin: 26px 0;
        font-size: 14px;
        width: 350px;
    }
    .nav-item{
        padding: 0 50px;
    }
    .box-con-in{
        width: 580px;
    }
}
@media only screen and (max-width: 1080px) {
    .title{
        font-size: 60px;
        margin: 0 auto;
        text-align: center;
    }
    .sub-title{
        padding: 26px;
        font-size: 16px;
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .box-con{
        position: static;
        margin: 50px 0 0 0;
    }
    .top-sub-title{
        width: 580px;
        margin: 0 auto;
        padding: 0 5px;
    }
    .box-con-in{
        margin: 0 auto;
        float: none;
    }
    .title-con{
        position: static;
        transform: none;
        margin: 150px 0 0 0;
    }
    .col-full{
        float: left;
        width: 100%;
        flex: none;
    }
    .main-container{
        flex-flow: row wrap;
    }
    .btn-title{
        margin: 0 auto;
        display: block;
    }
}
@media only screen and (max-width: 620px) {
    .top-sub-title, .title,
    .box-con{
        width: 100%;
    }
    .box-con-in{
        width: 280px;
    }
    .top-sub-title{
        text-align: center;
    }
    .box{
        width: 320px;
    }
}
@media only screen and (max-width: 560px) {
    .title{
        font-size: 50px;
    }
    .sub-title{
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .popup{
        width: 100%;
        height: 100%;
        overflow: scroll;
        padding: 30px;
    }
    .popup-body{
        font-size: 15px;
    }
    .pop-show{
        position: fixed;
        transform: translate(0%, 0%) scale(1);
        top: 0;
    }
}
@media only screen and (max-width: 440px) {
    .title{
        font-size: 46px;
    }
    .sub-title{
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    .title{
        font-size: 40px;
    }
    .sub-title{
        font-size: 14px;
    }
}



@media only screen and (max-height: 940px) {
    .box{
        padding: 24px;
        width: 280px;
        height: 280px;
    }
    .box-title{
        font-size: 18px;
        width: 160px;
    }
    .box-subtitle{
        font-size: 14px;
        padding: 0 20px 0 0;
    }
}
@media only screen and (max-height: 780px) and (min-width: 1080px) {
    .box-con{
        position: static;
        margin: 110px 0 0 0;
    }
}
@media only screen and (max-height: 520px) and (min-width: 1080px) {
    .title-con{
        position: static;
        transform: none;
        margin: 110px 0 0 0;
    }
}